body{
    font-family: "Arial";
    background-color: rgb(173, 213, 240);
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    background-color: rgb(73, 191, 245);
    padding: 20px;
}
.logo_caixa{
    position: relative;
    left: 40px;
    width: 30%;
    
}
.logo{
    width: 40%;
}
.titulo {
    padding-left: 10%;
}
.quadrado{
  border: 1px solid black; 
  width: 80%; 
  margin-left: 10%; 
  margin-right: 10%;

}
.tabela { 
  width: 80%; 
  margin-left: 10%; 
  margin-right: 10%;
  
} 
hr {
  border: 1px solid rgb(12, 12, 12);
  width: 80%; /* 100% - 10% (início) - 10% (fim) = 80% */
  margin-left: 10%; /* início */
  margin-right: 10%; /* fim */  
  }
/*Estilização da Tabela*/

table { 
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
  }
  th {
    background-color: rgb(73, 191, 245);
  }
  .qntd-invalida {
    color: red;
  }

  /*Estilização do Formulário de nova encomenda*/
  .dados{
    padding:20px;
    font-size: 20;
    text-align: center;
  }
  .texto-grande {
    width: 300px;
    height: 40;
    display: block;
    margin-top: 10px;
    background-color: rgb(73, 191, 245);
    color: black;
    font-size: 15;
    margin-left: 40%;
    text-align: center;
  }
  .botao{
    width: 200;
    height: 100;
    font-size: 20;
    background-color: rgb(2, 69, 131);
    color: white;
    font-weight: bold;
    margin: 0 auto;
    display: block;
  }
  .fadeOut{
  opacity: 0;
  transition: 40s;
  }
  #filtrar-tabela{
    width: 19.5%;
    height: 90px;
    margin-bottom: 40px;
  }
  .invisivel{
    display: none;
  }
  .filtro_css{
    padding: 20px;
  }
 
  

  